.about{
    padding-top: var(--section-padding-y);
    &__title{
        font-family: var(--alternate-font);
        text-transform: uppercase;
        margin-bottom: 90px;
        font-size: 64px;
        line-height: 1.3;
    }
    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__imagePhonesWithPettrek {
        position: relative;
        display: inline-block;
    }
    &__imagePhones{
        margin-left: 10%;
    }
    &__pDownload{
        position: absolute;
        bottom: -2.5%;
        left: 65%;
        transform: translateX(-50%); 
        text-align: center;
        text-transform: uppercase;
        font-family: var(--alternate-font);
        
    }
    &__pDownloadLink{
        & > span{
            color: var(--green-text-color);
            margin-right: 7px;
        }
    }
    &__statsContainer{
        width: 80%;
        &:last-child{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 7px;
                background-color: var(--light-green-elements);
                bottom: 0;
                border-radius: 7px;
            }
        }
    }
}