:root{
    --black-text-color: black;
    --grey-text-color: #00000091;
    --background-color: white;
    --green-text-color: #92B774;
    --grey-green-elements:  #BFC7B8;
    --light-green-elements: #92B7744D;
    --light-grey-elements: #DFEAD6;

    --button-height: 50px;
    
    --input-radius: 20px;
    --little-radius: 25px;
    --medium-radius: 30px;
    --large-radius: 50px;
    

    --container-width: 1236px;
    --container-padding-x: 20px;
    --section-padding-y: 72px;
    --main-font: 'ABeeZee', sans-serif;
    --alternate-font: 'Aqum Two', sans-serif;
    --transition: 0.2s;
}